@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;700&family=Mr+Dafoe&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-script: "Mr Dafoe", cursive;
  --color-neon: #FF5F1F;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-neon);
  color: #000;
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
